p {
    text-align: center;
}

:root {
    color: white;
    --light-grey: #f7f7f7 --black: #000000 --white: #ffffff
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(54, 38, 38);
    padding: 0rem 0;
    z-index: 500;
}

.navbar .container {
    justify-content: space-between;
}

.site-brand {
    color: #ffffff;
    font-size: 2.4rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    opacity: 0.95;
}

.site-brand span {
    font-weight: 300;
}

#navbar-show-btn {
    background: transparent;
    color: #ffffff;
    font-size: 2rem;
    opacity: 0.9;
    transition: var(--trans);
    border: none;
}

#navbar-show-btn:hover {
    opacity: 1;
}

#navbar-collapse {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

.navbar {
    position: absolute;
    float: right;
}

nav ul {
    list-style: none;
    overflow: visible;
    position: relative;
}

nav ul li {
    float: left;
    margin: 0 20px 0 0;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    transition: transparent;
}

.nav-link:hover {
    opacity: 0.8;
}

header {
    min-height: 40vh;
    padding-top: 0rem;
    background: url("https://c4.wallpaperflare.com/wallpaper/64/828/878/cold-dark-ice-landscapes-wallpaper-preview.jpg");
     background-size: cover;
    text-align: center;
    width: 110%;

}

.topnav-centered {
    display: flex;
    align-items: center;
}
.header-title h1{
    font-size: 2rem;
    text-align: center;
}
.featured-item{
    position:absolute;
    align-items: stretch;
    width: 50%;
    overflow: hidden;
    transition: transparent;
    float: right;
    flex-direction: row;
}
.featured-item::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottpm, transparent 0%,
    transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.featured-item-content{
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: white;
    width: 100%;
    padding: 1rem;
    transform: translateY(62%);
    transition: var(--trans);
}

.featured-item-content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
}
.featured-item-content .text{
    color: black;
    transition: var(trans);
}
.featured-item:hover .featured-item-content{
    transform: translateY(0);
}